header {
    background-color: #FF8000;
}
.header-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.header-container img {
    width: 156px;
}
.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex-grow: 1;
}
.main-container {
    max-width: 1920px;
    margin: 0 auto;
}
.home-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1920px;
    margin: 0 auto;
    height: 400px;
}
.nav-container {
    background-image: url('../assets/img/pexels-narda-yescas-724842-1566837.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: calc(100% - 300px);
    padding-top: 136px;
}
.nav-logo {
    display: flex;
    justify-content: center;
    margin-bottom: -64px;
}
.nav-logo img {
    background-color: white;
    object-fit: cover;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.nav-information {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.nav-information h2, span {
    margin-left: 12px;
}
.nav-container span {
    color: #FF8000;
    padding-bottom: 12px;
}
.nav-content {
    background-color: #F7F6F1;
    padding: 12px 0px 12px 0px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.nav-content svg {
    margin-left: 12px;
}
.nav-content a {
    color: #8F9293;
}
button {
    display: none;
}
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    max-width: 1920px;
    background-color: #FF8000;
}
.footer-container {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-container img {
    width: 48px;
}

@media(max-width: 750px) {
    .nav-logo img {
        height: 96px;
        width: 96px;
    }
}
@media(max-width: 700px) {
    .nav-logo {
        display: none;
    }
}
@media(max-width: 650px) {
    button {
        display: block;
        background-color: #096DD4;
        border: none;
        color: white;
        font-size: large;
        margin-bottom: 12px;
        height: 48px;
        width: 100%;
    }
    .nav-container {
        width: 100%;
    }
}

@media(min-width: 650px) {
    #nav-container {
        display: block
    }
}

.d_none {
    display: none;
}
.show {
    display: block !important;
    width: 100% !important;
}
.changeHome {
    min-height: 100vh;
}
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup_open {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
}
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}